<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleDisplayName</key>
	<string>Clip</string>
	<key>CFBundleVersion</key>
	<string>25</string>
	<key>CFBundleShortVersionString</key>
	<string>0.25</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>LSUIElement</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>15.0</string>
	<key>NSAccessibilityUsageDescription</key>
	<string>Clip potřebuje přístup k accessibility API pro čtení vybraného textu.</string>
	<key>NSScreenCaptureDescription</key>
	<string>Clip potřebuje přístup k záznamu obrazovky pro OCR snímků.</string>
</dict>
</plist>
